{% load static %}
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<title>
    {% block title %} 
    Vektorel 
    {% endblock %} 
</title>
</head>
<body>
<div>
    <h1><a href="/">Vektorel</a></h1>
</div>
{% block content %}
{% endblock %}
</body>
</html>
